* {
    margin: 0;
    padding: 0;
} 
body {
    font-family: sans-serif;
}
a {
    text-decoration: none;
    color: grey;
}
a:hover {
    text-decoration: none;
    color: black;
}


/* Page d'index */

.banniere-index {
    background-image: url(index/main.png);
    background-position: center;
    background-size: cover;
    height: 40vh;
    margin: 0px;
}
.banniere-index h1 {
    text-align: center;
    color: rgb(224, 221, 216);
    font-size: 3em;
    padding-top: 1em;
    
}
.banniere-index nav{
    background-color: white;
    display: flex;
    height: 50px;
    justify-content: space-between;
}
.menu {
    display: flex;  
    align-items: center;
}
.menu a {
    margin : 3em;
}
.social-media {
    display: flex;
    align-items: center;
    margin-right: 2em;
    margin-top: 2px;
}



main {
    display: flex;
}
.main-index {
    display: inline;
    width: 100%;
}
.main-index img {
    float: left;
    position: center;
    margin-right: 9px;
}
.main-index article {
    clear : both;
    width : 80%;
    margin: 8% 10%;
}
.main-index article p:first-of-type {
    color: grey;
}

.sidebar {
    box-sizing: border-box;
    width: 250px;
    background-color: #f8f6f6;
    padding: 20px;
}
.sidebar a {
    display: block;
    margin: 0.5em;
}


/* Articles */
.banniere-article {
    background-color: rgb(245, 238, 215);
    background: linear-gradient(#F5EED7, #FFFFFF );
    display: flex;
    height: 50px;
    justify-content: space-between;
}
.banniere-article p:first-of-type {
    margin: 5px;
    font-weight:bold ;
    font-size: 2em;
    color: grey;
}
.menu-article a {
    margin : 1em;
}
.menu-article {
    display: flex;
    align-items: center;
    margin-right: 2em;
    margin-top: 2px;
}


.main-article {
    padding : 3%;
    width: 100%;
}
.main-article img {
    float: left;
    position: center;
    margin-right: 9px;
}