@font-face {
    font-family: "Fuzzy Bubbles";
    src: url(fonts/FuzzyBubbles-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "Fuzzy Bubbles";
    src: url(fonts/FuzzyBubbles-Regular.ttf);
    font-weight: 400;
}
* {
    margin: 0;
    padding: 0;
} 
body {
    font-family: "Fuzzy Bubbles", "sans-serif";
}
::selection {
    color: #82633A;
    background-color: #F5EED7;
}
::-moz-selection {
    color: #82633A;
    background-color: #F5EED7;
}   
a {
    text-decoration: none;
    color: #B0947C;
    transition: color, 1s;
}
a:hover {
    text-decoration: none;
    color: black;
}

h2 {
    color: #82633A;
}

/* Page d'index */

.banniere-index {
    background-image: url(index/main.png);
    background-position: center;
    background-clip: border-box;
    background-size: cover;
    height: 244px;
    margin: 0px;
}
.banniere-index h1 {
    text-align: center;
    color: #F5EED7;
    font-size: 3em;
    padding-top: 1em;
    
}
.banniere-index nav{
    background: linear-gradient(#F5EED7, #FFFFFF );
    display: flex;
    height: 2.7em;
    justify-content: space-between;
}
.menu {
    padding-left: 2em;
    display: flex;  
    align-items: center;
}
.banniere-index {
    position: relative;
}
.logo {
    position: relative;
    top:1em;
    animation: slide 3s forwards;
}

@keyframes slide {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(50vw);
    }
}

.menu a {
    margin : 3em;
}
.social-media {
    display: flex;
    align-items: center;
    margin-right: 2em;
    margin-top: 2px;
}
.social-media img:hover {
    opacity: 0.5;
}



main {
    display: flex;
}
.main-index {
    display: inline;
    width: 100%;
}
.main-index img {
    float: left;
    position: center;
    margin-right: 9px;
}
.main-index img:hover {
    transform: scale(1.05)
}
.main-index article {
    clear : both;
    width : 80%;
    margin: 8% 10%;
}
.main-index article p:first-of-type {
    color: #d1ae90;
}

.sidebar {
    box-sizing: border-box;
    width: 250px;
    background:linear-gradient(to right, #FFF, #F5EED7);
    padding: 20px;
}
.sidebar a {
    display: block;
    margin: 0.5em;
}


/* Articles */
.banniere-article {
    background: linear-gradient(#F5EED7, #FFFFFF );
    display: flex;
    height: 2.7em;
    justify-content: space-between;
    position: sticky;
}
.banniere-article h1 {
    margin: 5px;
    font-weight:bold ;
    font-size: 2em;
    color: #d1ae90;
}
.menu-article a {
    margin : 1em;
}
.menu-article {
    display: flex;
    align-items: center;
    margin-right: 2em;
    margin-top: 2px;
}


.main-article p {
    color : #B0874F;
}
.main-article {
    padding : 3%;
    width: 100%;
}

.partie1 h2 {
    text-align: center;
    margin-top: 0;
}
.partie1 img {
    float: left;
    position: center;
    height: 20em;
    margin: 3px 6px 6px 3px;
}


.partie2 h2 {
    text-align: center;
    padding-top: 1.5rem;
    clear: both;
}
.partie2 img {
    float: right;
    position: center;
    height: 20em;
    margin: 3px 6px 6px 3px;
}
.article2 {
    clear: both;
}
.galerie-article {
    clear: both;
    padding: 1.5rem 0;
    text-align: center;
}

@media only screen and (max-width:770px) {
    main {
        display: inline;
    }
    .sidebar {
        width: 100%;
    }
    .partie1 img,.partie2 img {
        height: 12em;
    }
    .main-article {
        width: 90%;
    }
}

    @media only screen and (max-width:570px) {
    .main-index img {
        display: inline;
        width: 100%;
        margin: 9px; 
    }
    .menu {
        float: left;
    }
    .menu a {
        margin: 1em;
        font-size: 1.1em;
    }    

}

.nemocatch {
    text-align: center;
}
.nemocatch p {
    margin: 1rem;
}
.nemocatch h2 {
    margin: 1rem;
}